doctype html

html
	head
		title Slider Demo
		style(type="text/css").
			main {
				border: 1px solid black;
				margin: 100px;
				width: 400px;
				height: 400px;
			}

	body(ng-app="app")
		main(ng-controller="demoController as dc" ng-init="numberOfHandlers = 1")
			label Number of handlers:
				input(type="number" min="1" max="5" ng-model="numberOfHandlers")

			label(ng-repeat="i in numberOfHandlers | range") Handle {{$index + 1}} value:
				input(type="number" ng-model="sliderModel[$index]")

			slider(ng-model="sliderModel"
			ng-change="dc.change()"
			on-values-updated="actualValue = $values"
			pit-points="[1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
			snap="true"
			snap-points="[1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]")

				slider-model(ng-repeat="i in numberOfHandlers | range" ng-model="sliderModel[$index]")

			div Actual: {{actualValue | json}}
			div Model: {{sliderModel | json}}
